version: "3.9"

services:
    db:
        image: postgres:14
        container_name: robot-postgres
        restart: always
        environment:
            POSTGRES_DB: robot_tracker_db
            POSTGRES_USER: robot_master
            POSTGRES_PASSWORD: r080M4573rx11
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
        # healthcheck:
        #     test: ["CMD-SHELL", "pg_isready -U robot_master -d robot_tracker_db"]
        #     interval: 10s
        #     timeout: 5s
        #     retries: 5
    redis:
        image: redis:7
        container_name: robot-redis
        command: redis-server --requirepass redispassword
        ports:
            - "6379:6379"
        # healthcheck:
        #     test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
        #     interval: 10s
        #     timeout: 5s
        #     retries: 5

    api:
        build: ./backend
        container_name: robot-api
        env_file:
            - ./backend/.env.docker
        ports:
            - "3000:3000"
        depends_on:
            - db
            - redis

    frontend:
        build: ./frontend
        container_name: robot-frontend
        env_file:
            - ./frontend/.env.docker
        ports:
            - "5173:5173"
        depends_on:
            - api

volumes:
    postgres_data:
