.login-page {
    background-image: url("../src/assets/map-blurred.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}

/* Login Card */
.login-card {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 360px;
}

.login-card .subtitle {
    color: #777;
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .login-card {
        margin: 0 1rem;
    }
}

/* Form */
.login-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #555;
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    transform: scale(0.5);
}
